  <header>

  </header>
  <main>
    <section>
      <h1>CMD Vragen</h1>
      <form method="post" enctype="application/x-www-form-urlencoded" action="/">
		<fieldset>
          <legend>Invullen Vak 1</legend>
		  <input type="text" value="Invullen Vak 1" id="vaknaam" name="vaknaam" required>
          <ul>
            <li>
              <label for="name">
                je naam: <input type="text" id="name" name="naamStudent" placeholder="Je naam" required>
              </label>
            </li>
            <li>
              <label for="docent">Van wie heb je les gehad?:</label>
              <select id="docent" name="docent" required>
                <option value="Koop & Joost">Koop & Joost</option>
                <option value="Sanne & Vasilis">Sanne & Vasilis</option>
                <option value="Robert & Peter">Robert & Peter</option>
                <option value="Declan & Justus">Declan & Justus</option>
              </select>
            </li>
            <li>
              <label for="week">In welke week heb je dit vak gehad?</label>
              <select id="week" name="week" required>
                <option value="Week 1-4">Week 1-4</option>
                <option value="Week 5-8">Week 5-8</option>
                <option value="Week 9-12">Week 9-12</option>
                <option value="Week 13-16">Week 13-16</option>
              </select>
            </li>
            <li>
              <label for="leerstof">Hoe vond je de leerstof? (0-10)</label>
              <input type="number" id="leerstof" name="leerstof" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="uitleg">Hoe vond je de uitleg? (0-10)</label>
              <input type="number" id="uitleg" name="uitleg" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="inzicht">Hoe vond je de inzicht? (0-10)</label>
              <input type="number" id="inzicht" name="inzicht" min="0" max="10" placeholder="0" required>
            </li>
          </ul>
        </fieldset>
		<fieldset>
          <legend>Invullen Vak 2</legend>
		  <input type="text" value="Invullen Vak 2" id="vaknaam" name="vaknaam" required>
          <ul>
            <li>
              <label for="name">
                je naam: <input type="text" id="name" name="naamStudent" placeholder="Je naam" required>
              </label>
            </li>
            <li>
              <label for="docent">Van wie heb je les gehad?:</label>
              <select id="docent" name="docent" required>
                <option value="Koop & Joost">Koop & Joost</option>
                <option value="Sanne & Vasilis">Sanne & Vasilis</option>
                <option value="Robert & Peter">Robert & Peter</option>
                <option value="Declan & Justus">Declan & Justus</option>
              </select>
            </li>
            <li>
              <label for="week">In welke week heb je dit vak gehad?</label>
              <select id="week" name="week" required>
                <option value="Week 1-4">Week 1-4</option>
                <option value="Week 5-8">Week 5-8</option>
                <option value="Week 9-12">Week 9-12</option>
                <option value="Week 13-16">Week 13-16</option>
              </select>
            </li>
            <li>
              <label for="leerstof">Hoe vond je de leerstof? (0-10)</label>
              <input type="number" id="leerstof" name="leerstof" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="uitleg">Hoe vond je de uitleg? (0-10)</label>
              <input type="number" id="uitleg" name="uitleg" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="inzicht">Hoe vond je de inzicht? (0-10)</label>
              <input type="number" id="inzicht" name="inzicht" min="0" max="10" placeholder="0" required>
            </li>
          </ul>
        </fieldset>
		<fieldset>
          <legend>Invullen Vak 3</legend>
		  <input type="text" value="Invullen Vak 3" id="vaknaam" name="vaknaam" required>
          <ul>
            <li>
              <label for="name">
                je naam: <input type="text" id="name" name="naamStudent" placeholder="Je naam" required>
              </label>
            </li>
            <li>
              <label for="docent">Van wie heb je les gehad?:</label>
              <select id="docent" name="docent" required>
                <option value="Koop & Joost">Koop & Joost</option>
                <option value="Sanne & Vasilis">Sanne & Vasilis</option>
                <option value="Robert & Peter">Robert & Peter</option>
                <option value="Declan & Justus">Declan & Justus</option>
              </select>
            </li>
            <li>
              <label for="week">In welke week heb je dit vak gehad?</label>
              <select id="week" name="week" required>
                <option value="Week 1-4">Week 1-4</option>
                <option value="Week 5-8">Week 5-8</option>
                <option value="Week 9-12">Week 9-12</option>
                <option value="Week 13-16">Week 13-16</option>
              </select>
            </li>
            <li>
              <label for="leerstof">Hoe vond je de leerstof? (0-10)</label>
              <input type="number" id="leerstof" name="leerstof" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="uitleg">Hoe vond je de uitleg? (0-10)</label>
              <input type="number" id="uitleg" name="uitleg" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="inzicht">Hoe vond je de inzicht? (0-10)</label>
              <input type="number" id="inzicht" name="inzicht" min="0" max="10" placeholder="0" required>
            </li>
          </ul>
        </fieldset>
		<fieldset>
          <legend>Invullen Vak 4</legend>
		  <input type="text" value="Invullen Vak 4" id="vaknaam" name="vaknaam" required>
          <ul>
            <li>
              <label for="name">
                je naam: <input type="text" id="name" name="naamStudent" placeholder="Je naam" required>
              </label>
            </li>
            <li>
              <label for="docent">Van wie heb je les gehad?:</label>
              <select id="docent" name="docent" required>
                <option value="Koop & Joost">Koop & Joost</option>
                <option value="Sanne & Vasilis">Sanne & Vasilis</option>
                <option value="Robert & Peter">Robert & Peter</option>
                <option value="Declan & Justus">Declan & Justus</option>
              </select>
            </li>
            <li>
              <label for="week">In welke week heb je dit vak gehad?</label>
              <select id="week" name="week" required>
                <option value="Week 1-4">Week 1-4</option>
                <option value="Week 5-8">Week 5-8</option>
                <option value="Week 9-12">Week 9-12</option>
                <option value="Week 13-16">Week 13-16</option>
              </select>
            </li>
            <li>
              <label for="leerstof">Hoe vond je de leerstof? (0-10)</label>
              <input type="number" id="leerstof" name="leerstof" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="uitleg">Hoe vond je de uitleg? (0-10)</label>
              <input type="number" id="uitleg" name="uitleg" min="0" max="10" placeholder="0" required>
            </li>
            <li>
              <label for="inzicht">Hoe vond je de inzicht? (0-10)</label>
              <input type="number" id="inzicht" name="inzicht" min="0" max="10" placeholder="0" required>
            </li>
          </ul>
        </fieldset>
        <input type="submit">
      </form>
    </section>
  </main>
  <footer>
    <div>
      <button>Start</button>
    </div>
  </footer>