/* Hulpje: https://jdan.github.io/98.css/ */

  footer > div > div:first-of-type {
    background-color: #c0c0c0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border: none;
    font-family: Pixelated MS Sans Serif, monospace, sans-serif;
    max-width: 5.6em;
    width: 50%;
    height: 85%;
    margin: 0.2em 0 0 0.2em;
    color: black;
    text-align: right;
  }

  footer > div > div:nth-of-type(2) {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: inset 1px 1px grey;
    background-image: url(../images/scrollbar-background.svg);
    position: absolute;
    bottom: 0.2em;
    left: 6.3em;
    width: 100%;
    max-width: 7em;
    height: 76%;
    text-align: center;
  }

@font-face {
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif";
  src: url("../fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("../fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../images/background98.png);
  background-color: #008081;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Pixelated MS Sans Serif, monospace, sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  background: linear-gradient(90deg, navy, #1084d0);
  background-color: blue;
  padding: 0.1em 0.3em;
  border: 2px solid #f9f9f9;
  color: #fff;
  font-weight: 100;
  text-align: left;
  font-size: 1em;
}

section {
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  max-width: 40em;
  margin: 2.5em auto;
  width: 100%;
  text-align: center;
}

input:active,
select:active,
footer div button:active,
input[type="submit"]:active,
footer > div > div:first-of-type:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

input:focus,
select:focus,
footer div button:focus,
input[type="submit"]:focus,
footer > div > div:first-of-type:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

form {
  padding: 0 1em;
  margin-bottom: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 81.6vh;
}

#vaknaam {
  display: none;
}

fieldset {
  margin: 1em 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  background: white;
  border: none;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0 1em;
}

li {
  margin: 0.4em 0;
}

legend {
  background: #c0c0c0;
  padding: 0.3em 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  border: none;
  text-align: left;
}

input {
  background: #fff;
  padding: 0.3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  font-family: Pixelated MS Sans Serif, monospace, sans-serif;
  border: none;
}

input[type="submit"] {
  background: #c0c0c0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  padding: 0.5em 1.2em;
  bottom: 0.5%;
  position: relative;
  margin: 2% 0;
}

select {
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  padding: 0.3em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/button-down.svg);
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
  border: none;
  font-family: Pixelated MS Sans Serif, monospace, sans-serif;
  max-width: 15em;
  padding-right: 1.5em;
}

select, textarea {
  background-color: white;
}

select:active {
  background-image: url(../images/button-down-active.svg);
}

select:focus {
  background-color: navy;
  color: #fff;
}

option {
  background-color: white;
  color: black;
}

footer > div {
  background-color: #c0c0c0;
  height: 2em;
  width: 100%;
  border-top: 2px solid #f9f9f9;
}

footer > div > div:first-of-type {
  background-color: #c0c0c0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  font-family: Pixelated MS Sans Serif, monospace, sans-serif;
  max-width: 5.2em;
  width: 25%;
  height: 85%;
  margin: 0.2em 0 0 0.2em;
  color: black;
  text-align: right;
}

footer > div > div:first-of-type:after {
  content: "Start";
  bottom: 0.45em;
  position: absolute;
  left: 2.3em;
  font-weight: 900;
}

footer > div > div:first-of-type::before {
  background-image: url(../images/windows.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  max-width: 1.3em;
  max-height: 1.3em;
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 0;
  margin: 0em 0 0 0.6em;
}

footer > div > div:nth-of-type(2) {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: inset 1px 1px grey;
  background-image: url(../images/scrollbar-background.svg);
  position: absolute;
  bottom: 0.2em;
  left: 6em;
  width: 30%;
  max-width: 7em;
  height: 76%;
  text-align: center;
}

footer > div > div:nth-of-type(2):before {
  content: "CMD Vragen";
  bottom: 0.2em;
  position: absolute;
  left: 0.6em;
  font-weight: 300;
}

footer > div > div:last-of-type {
  background-color: #c0c0c0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
  border: none;
  font-family: Pixelated MS Sans Serif, monospace, sans-serif;
  max-width: 8em;
  width: 30%;
  height: 85%;
  color: black;
  text-align: right;
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
}

footer > div > div:last-of-type:after {
  content: "3:33 PM";
  bottom: 0.3em;
  position: absolute;
  right: 0.4em;
  font-weight: 100;
}

footer > div > div:last-of-type > div:first-of-type {
  background-image: url(../images/calendar.png);
  height: 4.5em;
  width: 4.5em;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.25em;
  margin: 0 0 0 6%;
  max-width: 1.3em;
  max-height: 1.3em;
}

footer > div > div:last-of-type > div:last-of-type {
  background-image: url(../images/loudspeaker.png);
  height: 4.5em;
  width: 4.5em;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.25em;
  margin: 0 0 0 28%;
  max-width: 1.3em;
  max-height: 1.3em;
}

footer > div {
  position: fixed;
  bottom: 0;
}

@supports (jemoeder: dun) {
  body {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("../images/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../images/button-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../images/button-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("../images/button-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("../images/button-right.svg");
}

section img {
  width: 4%;
  display: inline;
  margin-bottom: 1em;
}

table {
  width: 94%;
  margin: 1em 3%;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  background: white;
  border: none;
}

h2 span {
  color: darkred;
}
#e
tr {
  padding: .4em 1em;
}

tbody tr:first-of-type {
  background-color: #d8d8d8;
}

tr:nth-child(odd) {
  background-color: #e4e4e4;
}

th {
  padding: .4em 1em;
  border-bottom: gray 1px solid;
  border-left: 1px solid gray;
}

td {
  padding: .4em 1em;
  border-bottom: gray 1px solid;
  border-left: 1px solid gray;
}


@media screen and (max-width: 380px) {
  body {
    font-size: .7em;
  }

  footer > div > div:first-of-type:after {
    content: "Start";
    bottom: 0.45em;
    position: absolute;
    left: 2.3em;
    font-weight: 900;
    font-size: .9em;
  } 
}

@media screen and (max-width: 500px) {
  table {
    font-size: .65em;
  }
}